includes:
    - vendor/phpstan/phpstan-mockery/extension.neon
parameters:
    level: max
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    paths:
        - src/
        - packages/
    excludePaths:
        - src/Console/Installer.php
